<p>Dear {{companyname}},</p></br>

<p>We are excited to inform you that your company is successfully registered with our application and received a FREE trial package. The following admin(s) will receive the user credentials to access our application:</p>
<p>{{adminname}} - {{adminemail}}</p>
<p>These credentials will grant access to the admins to operate the application, allowing you to take advantage of the features and functionalities of the package.  </p>
<p>Application URL: <a hred="{{link}}">{{link}}</a> </p>
<p>If you have any questions or encounter any issues during the login process, please feel free to reach out to our support team at info@intaap.com. We are here to assist you.</p>
<p>Thank you for your valuable contribution to our team. We believe that the application will greatly enhance our productivity and collaboration efforts. We look forward to seeing the positive impact it will have on our daily operations.</p>

<p>
   Best regards, 
</p>
<p>Intaap Team</p>