<p>Dear {{employeename}},</p></br>
<p>On behalf of {{companyname}}, we would like to extend a warm welcome to you as our newest team member. We are delighted to have you on board and look forward to working together.</p>
<p>As part of your onboarding process, we are pleased to inform you that your access to our company's systems and resources has been successfully set up. Please find below the details of your account:</p>
<p>Username: {{employeeusername}}</p>
<p>Temporary Password: {{employeepassword}}</p>
<p>To ensure the security of our systems, we recommend that you change your password immediately upon logging in for the first time. Please follow the instructions provided to set up a new password during the initial login process.</p>
<p>The following systems and resources are available for your use:</p>

<p>Employee Portal: Log in to our employee portal <a href='https://dev.d3mnkfnlzusm0o.amplifyapp.com/login/'>https://dev.d3mnkfnlzusm0o.amplifyapp.com/login/</a> to access important documents, company news, and resources.</p>

<p>If you encounter any issues or require assistance during the setup process, please contact our IT support team at info@intaap.com. They will be happy to assist you.</p>
<p>We highly recommend familiarizing yourself with our company policies and guidelines, which can be found on the employee portal. These resources will help you understand our culture, values, and expectations.</p>
<p>Once again, welcome to the team! We are confident that your skills and expertise will greatly contribute to our success. Should you have any questions or need any further information, please don't hesitate to reach out.</p>
</br><p>Best regards,</p>
<p>{{companyname}}</p>