<p>Dear {{name}},</p></br>

<p>We are thrilled to inform you that your request to create a new company, {{companyname}}, under your parent account has been approved! Congratulations on this exciting milestone in expanding your business ventures.</p>
<p>As the founder and admin of {{parentcompanyname}}, you now have the authority and control to oversee the operations of both the parent and child companies. This powerful feature empowers you to efficiently manage multiple entities under one unified platform.</p>
<p>With your new role as a parent admin, you have the flexibility to create and manage user accounts, assign roles and permissions, monitor performance, and make strategic decisions that will drive the success of both {{parentcompanyname}} and {{companyname}}.</p>
<p>To get started, we recommend exploring our comprehensive user guide and video tutorials, specifically tailored to assist you in navigating the parent-child company structure within our platform. Additionally, our support team is available to provide personalized assistance and address any questions or concerns you may have along the way.</p>
<p>We believe that your visionary leadership and entrepreneurial spirit will greatly contribute to the growth and prosperity of both your parent and child companies. Together, we can achieve remarkable milestones and unlock new opportunities for success.</p>
<p>Thank you for choosing our platform to build and manage your business empire. We are honored to be a part of your journey and look forward to witnessing your accomplishments with {{parentcompanyname}} and {{companyname}}.</p>
<p>Should you have any further inquiries or require additional support, please do not hesitate to contact our team at info@intaap.com. We are here to ensure your experience with our platform is seamless and rewarding.</p>
<p>Congratulations once again on the creation of {{companyname}}. Best of luck as you embark on this exciting new chapter!</p>

<p>
   Best regards, 
</p>
<p>Intaap Team</p>